:root {
	--default-bg-color: #fff;
	--secondary-bg-color: #f6f6f8;
	--default-txt-color: #2d3748;
	--secondary-txt-color: #838691;
	--default-border-color: #e9eef7;
	--hover-color: #e6f1ff;
	--active-color: #0e77ff;
	/* --secondary-txt-color: #718096; */
	--header-height: 56px;
	--general-spacing: 1.5rem;

	--red: #ff5555;
	--yellow: #e2aa53;
	--purple: #cfa4ff;
	--cyan: #2dd9da;
	--dim: #c9c9c9;
}

html,
body {
	margin: 0;
	background-color: var(--default-bg-color);
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
}
body > div {
	display: grid;
	grid-template-rows: var(--header-height) auto;
	grid-template-columns: var(--general-spacing) 250px calc(var(--general-spacing) * 1.5) auto var(
			--general-spacing
		);
	height: 100vh;
}
Header {
	grid-row: 1;
	grid-column: 1/6;
}
aside {
	grid-row: 2;
	grid-column: 2;
	padding-top: var(--general-spacing);
	box-sizing: border-box;
}
main {
	grid-row: 2;
	grid-column: 4;
	padding-top: var(--general-spacing);
}
main.fullWidth,
section {
	grid-column: 1/6;
}

section > .container {
	padding: 0 calc(var(--general-spacing) * 2);
}

a {
	color: var(--secondary-txt-color);
}
a:hover {
	color: #a0aec0;
}
