:root {
	--default-bg-color: #fff;
	--default-color: #212121;
	--header-height: 56px;
	--general-spacing: 1.5rem;
}

html,
body {
	margin: 0;
	background-color: var(--default-bg-color);
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
}
body > div {
	display: grid;
	grid-template-rows: var(--header-height) auto;
	grid-template-columns: 275px auto;
	height: 100vh;
}
Header {
	grid-row: 1;
	grid-column: 1/3;
}
aside {
	grid-row: 2;
	grid-column: 1;
	background-color: var(--default-bg-color);
	margin-right: var(--general-spacing);
	padding-top: var(--general-spacing);
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
}
main {
	grid-row: 2;
	grid-column: 2;
	padding-top: var(--general-spacing);
}
